streamlit
dataclasses; python_version < "3.7"
pyttsx3
SpeechRecognition
pyaudio ; platform_system == "Windows"  # Needed for microphone access
langchain
langchain-community
langchain-groq
transformers
sentence-transformers
faiss-cpu
PyPDF2
nltk
streamlit-webrtc
opencv-python-headless
numpy
